h1 {
    color: blue;
};
#main {
  /* background-color: #e1e1e1;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; */
}
div.card {
  margin: 5px;
  background-color: #e2e2e2;
  /* height: 100px; */
  width: 30%;
  float: left;
  /* border: 1px groove; */
  border-radius: 3px;
}
div.card:hover {
  background-color: yellow;
}
/* .hidden {
  visibility: hidden;
} */
p.theme {
  font-weight: bold;
  text-align: center;
  margin: 10px;
  /* font-style: italic; */
}
p.content {
  text-align: center;
  margin: 8px;
}
/*
colors
#33edf8 //blue
#f32e62 //red
#ffff3a //yellow
#33f8c8 //green
#e2e2e2 //grey
*/
