h1 {
    color: blue;
};
#main {
  /* background-color: #e1e1e1;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; */
}
.colomn {
  width: 30%;
  float: left;
}
.card {
  margin: 5px;
  border-radius: 3px;
  height: auto;
}
p.theme {
  font-weight: bold;
  text-align: center;
  margin: 10px;
  padding-top: 5px;
}
p.content {
  text-align: center;
  margin: 5px;
}
.card.blue {
  background-color: #33edf8;
}
.card.red {
  background-color: #f32e62;
}
.card.yellow {
  background-color: #ffff3a;
}
.card.green {
  background-color: #33f8c8;
}
.card.grey {
  background-color: #e2e2e2;
}
.card:hover {
  background-color: orange;
}
.hidden {
  display: none;
}
